/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.fill{
    height: 100%;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding: 12px;
    color: #777;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
  /*border-top: 1px solid #e5e5e5;*/
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

div.exchange-panel {
    height: 100%;
}
tr.stock:hover {
    background-color: #a8c1dd;
    color: white;
}
div.loading {
    height: 64px;
    width: 64px;
    margin-left: calc(50% - 32px);
    background-image: url("/images/preloader_3.gif");
}
tr.stock{
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s ease, color 0.5s ease;
}