<div style="text-align: center">
    <div style="width: 100%;padding: 8px;height: 37px;border-bottom: solid 1px #ddd;" class="text-muted">· · · · Broadcast · · · ·</div>
    <h2 class="text-muted" ng-show="!selectedStock.ticker && !selectedStock.loading" style="height: 100%;padding-top: 20%">
        Pick a stock
    </h2>
    <div class="loading" style="margin-top: 20%" ng-show="!selectedStock.ticker && selectedStock.loading"></div>

    <div style="height:400px" ng-show="selectedStock.ticker" class="col-lg-12 order-book dotted">
        <div class="dotted" style="margin-top: 5px">{{selectedStock.ticker}}: {{selectedStock.name}}</div>
        <div class="offer-lane col-lg-6" style="border-right: solid 1px #ddd;margin-top: 20px" >
            <ul class="list-unstyled">
                <li style="text-align: center;margin-top: 10px">Offer</li>
                <li class="order-book-item" ng-repeat="offer in randomOffers" ng-click="buy()">
                    <span style="position: absolute;left: 10px;padding: 5px">{{offer.spot}}</span>
                    <span style="position: absolute;right: 10px;padding: 5px">x {{offer.quantity}}</span>
                </li>
            </ul>
        </div>
        <div class="offer-lane col-lg-6" style="margin-top: 20px">
            <ul class="list-unstyled">
                <li style="text-align: center; margin-top: 10px">Bid</li>
                <li class="order-book-item" ng-repeat="bid in randomOffers track by $index" ng-click="sell()">
                    <span style="position: absolute;left: 10px;padding: 5px">{{bid.bidSpot}}</span>
                    <span style="position: absolute;right: 10px;padding: 5px">x {{bid.bidQuantity}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>